[2017-03-17 12:48] cziaarm opened #1 "Test issue"
I have found this bug in TWI-edit ....

[2017-03-17 12:51] #1 closed, assigned to kansallisarkisto

[2017-05-19 09:30] cziaarm opened #2 "Pages > 1 give NoneType' object has no attribute 'get' error"
Example URL: http://127.0.0.1:8003/edit/correct/1/28/7, https://transkribus.eu/readTest/edit/correct/1/28/7
Browsers: firefox, chrome

This is thrown by the templatetag get_item which is being called here:

In template /home/cziaarm/READ/mc/apps/edit/templates/edit/correct.html, error at line 102

[2017-05-25 23:39] cziaarm opened #3 "unexpected highlighting for side by side regions"
url: https://transkribus.eu/readTest/edit/correct/3/332/4
browsers: chrome firefox

when hovering over the text on the left the text on the right is sometimes hilighted.

also when clicking on the text on the right, the edit box is initiated for a line from the text on the left.

[2017-05-26 06:47] kansallisarkisto commented on #3
Please give me access to that collection or a link to a different one where I can reproduce the problem.

[2017-05-26 08:11] cziaarm commented on #3
I am but a simple transcriber for this collection :( @hackmanschorsch @kahlep  can you help @kansallisarkisto out with this?

[2017-05-29 07:49] kansallisarkisto commented on #2
I need permission to access that so that I can take a look.

[2017-05-29 12:30] jnphilipp opened #4 "Javascript errors in correct.js."
The array in line 561 `selectionData` is empty and consequently throws an error if accessed.

[code]

[2017-05-29 12:45] jnphilipp opened #6 "Cannot save."
In `Correction Interface, Line by Line` clicking Save changes results in an javascript error message 500.

On the command line the output is:
[code]

[2017-05-30 07:47] cziaarm commented on #2
I am not an owner... @kahlep @hackmanschorsch please give @kansallisarkisto access to ts Ground Truth (id=1)

[2017-05-30 07:59] hackmanschorsch commented on #2
@kansallisarkisto has access now

[2017-05-30 13:23] kansallisarkisto commented on #3
Fixed. Line ids prefixed with region ids to be unique.

[2017-05-30 13:23] #3 closed, assigned to kansallisarkisto

[2017-05-31 10:07] kansallisarkisto commented on #2
Fixed. The cause wasn't the page no. The example just had empty lines, which weren't handled properly.

[2017-05-31 10:07] #2 closed, assigned to kansallisarkisto

[2017-05-31 12:45] kansallisarkisto commented on #6
Fixed (t_save_transcript -> t.save_transcript).

[2017-05-31 12:45] #6 closed, assigned to nobody

[2017-06-01 04:44] kansallisarkisto opened #7 "A lower thumbnail count than the maximum to be shown enlarges thumbs"
If fewer thumbnails than the max no. to be shown are available, they become larger.

[2017-06-02 12:47] hackmanschorsch opened #8 "Gap tag is just a position"
Special tag (length is always 0) and should be drawn as a vertikal line in the text editor.

[2017-06-05 13:48] kansallisarkisto commented on #7
Fixed. As a bonus the left/right arrows are now shown/hidden depending on whether there are thumbs to scroll to.

[2017-06-05 13:48] #7 closed, assigned to kansallisarkisto

[2017-06-08 12:57] jnphilipp opened #9 "Remove characters reapear in correctModal."
Removed characters reappear after entering a new character in the input dialog (correctModal). Observed using Chromium/qutebrowser (QtWebEngine).

[2017-06-09 10:02] cziaarm opened #10 "Cursor unable to write from start of line after pressing enter"
After pressing enter in the editing box in edit/correct the cursor goes to the start of the next line, but new characters cannot be added (it will start to work again if the cursor is moved to the right)

[2017-06-09 10:03] cziaarm opened #11 "Edit box to follow the highlighted line"
When clicking about on the image the edit box should move to stay relative to the clicked-on line.

[2017-06-09 10:05] cziaarm opened #12 "Avoid very small edit box"
Edit box width is relative to text region initially highlighted.

This can sometimes  result in edit boxes that are too small.
Maybe have a fixed 65% of image (ie manuscript page) width edit box?

Lookihere: Acceptance criteria with a check box :)

- [x] Make sure minimum width and height of edit box is not too small. At least shows the edit box, buttons and the appropriate lines of the transcript

[2017-06-09 10:08] cziaarm opened #13 "Save button on edit window"
have a save button on the edit modal, perhaps in the title line.

[2017-06-09 10:12] cziaarm opened #14 "Styling buttons for edit window"
Access the style related tags with buttons in edit box in the fashion of common text editoing apps (eg bold, underline etc)

[2017-06-09 10:13] cziaarm opened #15 "Tag check box does not remove tag"
Clicking on a tag name will toggle the tag fine, but the check box only toggles one way (ie on)

[2017-06-12 04:25] kansallisarkisto commented on #15
I need to know more about reproducing this. For me it works perfectly in both Firefox and Chrome.

[2017-06-12 04:55] kansallisarkisto commented on #14
Please explain more. What's the equivalent in the expert client?

[2017-06-12 07:58] hackmanschorsch commented on #14
![editor_screenshot](https://user-images.githubusercontent.com/16098955/27023994-3b3f8f5e-4f55-11e7-8de8-2474fb02ea03.PNG)
In expert client we have: (bold, italic, subscript, superscript, underlined, strikethrough) as textstyle tags. They are stored as usual tags (in the custom tag attribute) but of course are handled a little bit different.

[2017-06-12 12:14] hackmanschorsch commented on #15
Have you tested on readTest or your development environment? I have tested on readTest and Firefox 53.0.3. So for the checkbox only selection is possible. Pressing once more clears the checkbox but not the tag line.

[2017-06-13 09:30] jnphilipp opened #16 "Correction Interface trying to open URL https://transkribus.eu/readTest/edit/correct/2305/4949/undefined"
When opening a document in the correction interface a GET request is issued to an undefined URL.
[code]

[2017-06-13 09:32] jnphilipp commented on #9
Still persists.

[2017-06-13 09:38] #4 closed, assigned to nobody

[2017-06-16 11:21] kansallisarkisto opened #17 ""Correction Interface" should also act as a viewer with an "Edit" button"
"Correction Interface" should have an "Edit" button. The button should be grayed out when the document lacks a segmentation and thus cannot be transcribed. Clicking the button should instruct the user to create a segmentation for the document using the expert client.

[2017-06-19 10:03] kansallisarkisto commented on #15
I've now tested readTest with the following:

Chromium: Version 58.0.3029.110 Built on Ubuntu , running on LinuxMint 18.1 (64-bit)
Firefox: 53.0.3 (64-bit)

I can't reproduce the problem with either one of those browsers. Try again? Maybe it was an older version?

[2017-06-19 10:06] kansallisarkisto opened #18 ""Sometimes" a tag starting from the beginning of a line does not change correctly when entering text"
If text is input in the beginning of a line and a tag starts there, it sometimes grows and sometimes moves. The tag should always move.

[2017-06-19 11:54] jnphilipp opened #19 "The “coords” attribute of the <area shape="poly"> tag is not in the “x1,y1,x2,y2 …” format."
correct.js Line 402.

[2017-06-22 09:17] jnphilipp commented on #19
As far as I can confirmd the link is correct.

[2017-06-22 11:33] jnphilipp commented on #9
Nach some investigating, chrome doesn't trigger a keypress event when pressing backspace. Same is true for del.

[2017-06-22 13:32] kansallisarkisto commented on #9
I have rewritten it without using keypress. Will commit soon.

[2017-06-26 12:31] kansallisarkisto opened #20 "Right click to show the tag menu does not move the caret correctly"
Right-clicking to show the tag menu leaves the caret where it was and afterward when clicking to hide the menu, the caret does not show up where you expect it to.

[2017-07-03 11:21] kansallisarkisto opened #21 "Caret becomes invisible (Firefox bug which requires workarounds)"
In some situations (e.g. when typewriter scrolling up or down) the caret becomes invisible. Typed text is still input in the right location but the caret remains invisible. This is not a problem in Chromium but based on googling, it's a known Firefox issue for which a workaround must be found.

[2017-07-05 12:47] #9 closed, assigned to nobody

[2017-07-06 09:14] #8 closed, assigned to nobody

[2017-07-06 11:32] hackmanschorsch opened #22 "Define names for all different edit interfaces"
Suggestions from Innsbruck are:
Transcription interface: for the one Matti is developing (working title is line by line)
Proofread interface: for the first one of Nathanael
Correction interface: currently known as 'inverse Matti'
Please add your comments.

[2017-07-07 08:19] cziaarm commented on #22
We @hackmanschorsch @maxbry @jnphilipp think that the the current labels (Image, Line-by-Line, Side by Side and Text) are very close to what we should use because they describe the interface rather than tell one what to do with it. And the user will e.g. 'proof read' with probably more then one interface.

They can also be applied in "viewing mode" so we can toggle between editing and viewing, but

[2017-07-07 08:45] jnphilipp opened #23 "Fix options to top of page"
Fix the options in the edit view to the top of the page.

[2017-07-07 08:46] jnphilipp opened #24 "Fix canvas in Image view."
Fix the canvas in the Image interface.
* fix height to screen height
* stop moving the image out ot the canvas.

[2017-07-07 09:14] jnphilipp opened #25 "Styling buttons on Line by line interface."
Add the styling buttons from input window and #14 on each line. Show only on the current selected line.

[2017-07-07 12:13] hackmanschorsch commented on #15
Problem persists on Firefox 54.0.1 (32-Bit). Easy fix would be to allow tag selection only on the text rather then the checkbox. But a smarter fix would be preferable.

[2017-07-07 12:25] hackmanschorsch opened #26 "Line by line: New line activated but text goes to the previous one"
Steps to reproduce: Start correcting a line, then change to the next line by clicking the tabulator key. Although the new line is marked as the current line and even the horizontal cursor is visible the text is not written there. Also changing the line with the mouse clicking on the very first position brings this behavior but not always. If the mouse click is near enough the first character then

[2017-07-07 13:51] hackmanschorsch opened #27 "Tags for the beginning"
Limit tag list at the beginning to the one beneath until the tags can be fetched from the Transkribus rest service for collection (if provided).
{"name": "abbrev", "color": "FF0000"},
{"name": "date", "color": "0000FF"},
{"name": "gap", "color": "1CE6FF"},
{"name": "person", "color": "00FF00"},
{"name": "place", "color": "8A2BE2"},
{"name": "unclear", "color": "FFCC66"},
{"name": "organization", "

[2017-07-07 13:58] hackmanschorsch opened #28 "Line by line: Tag continues in the next line"
What if tag is continued in the next line? E.g. person firstname (in the first line), lastname (in the second line)
Suggestion: In the tag list you can set the tag attribute continued = true for the second tag. (This is an already used attribute for tags in Transkribus)

[2017-07-07 14:23] jnphilipp commented on #26
This is part of the general problem with the caret position. #10 #20 #21

[2017-07-11 12:12] jnphilipp commented on #28
The continued attribute is already supported. The problem with the Line by line is a selection problem. Since it is impossible to select more than a single line. To do this one has to use a different editing interface where it is possible.

[2017-07-11 13:28] hackmanschorsch commented on #28
Okay understand - my point was that the user could have a 'continued' flag to choose (e.g. as an option in the right click menu). This way he could mark a tag in the second line to be the continued tag of the tag in the first line. But may we just keep this in mind as an option for the future.

[2017-07-21 11:33] hackmanschorsch commented on #25
Styling needs no underlined text

[2017-07-21 13:08] hackmanschorsch commented on #11
duplicate of nr33 in TWI-mc

[2017-07-26 07:45] #27 closed, assigned to jnphilipp, hackmanschorsch

[2017-07-26 07:46] #23 closed, assigned to jnphilipp, hackmanschorsch

[2017-07-26 07:47] #13 closed, assigned to jnphilipp, kansallisarkisto

[2017-07-26 09:08] jnphilipp commented on #25
You mean the lines like the other tags?

[2017-07-26 09:27] hackmanschorsch commented on #25
Yes. For example if you mark a word and say it's 'italic' then the user sees it in italic but there is no need to underline the word with a black line.

[2017-07-26 09:29] jnphilipp commented on #25
Okay, I'll remove them. I only put them there because they are in the expert client.

[2017-07-27 12:48] kansallisarkisto commented on #18
I fail to replicate this now. Could solving some of the other bugs related to caret positioning have solved this?

[2017-07-27 13:04] kansallisarkisto commented on #15
I did some testing, the problem with removing tags only occurs if you open the tag menu and add a tag and then click to remove it without closing the tag menu in between. If you close the menu and open it again, it works fine. I will try to track this down, anyway.

[2017-07-28 11:27] jnphilipp opened #29 "Text vanishes in Firefox."
When inserting Text, in Firefox, in a word that has two tags after seven characters the text disappears.

This happens apparently because the line-li elements with same ids are duplicated for each interface.

[2017-08-02 14:49] #29 closed, assigned to jnphilipp, kansallisarkisto

[2017-08-02 15:07] maxbry commented on #26
When clicking in a line, typing something, pressing tab and then typing again:
- in firefox nothing happens
- in chrome, the is inserted in the previously selected line

[2017-08-02 15:26] #16 closed, assigned to jnphilipp, cziaarm

[2017-08-02 15:32] maxbry commented on #26
BTW: I tested this on readTest, so maybe that server doesn't have your fix yet..

[2017-08-02 15:39] maxbry commented on #22
I think this issue should be moved to `test succeded` and if any user in unsatisfied with any of the four names, an issue can be created for renaming something. Otherwise this issue would stay open forever..

[2017-08-02 15:40] #22 closed, assigned to cziaarm, GuenterMuehlberger, hackmanschorsch, yuoiea

[2017-08-04 09:26] jnphilipp opened #30 "Line numbering in different text regions"
In the moment multiple lines with number 1 are there, due to different text regions, but with no clear distinguishen.

[2017-08-07 12:05] kansallisarkisto commented on #12
I have now written (and will soon push) code which calculates the width of text for other purposes. How about reusing that so that the width of the edit box = the length of the longest line? Possibly also so that the box grows as the longest line grows? Some users requested that.

[2017-08-08 07:47] #14 closed, assigned to jnphilipp, kansallisarkisto

[2017-08-08 07:50] maxbry opened #31 "Increase box width"
When opening the edit box in the edit->image interface, the box is slightly to narrow to fit all the buttons in one line

[2017-08-08 07:51] maxbry commented on #31
![readtest_box](https://user-images.githubusercontent.com/8791965/29061667-17881c4c-7c1f-11e7-9a4b-b93a503e95ec.png)

[2017-08-08 08:01] kansallisarkisto commented on #21
I noticed that Outlook Web App suffers from exactly the same browser bug. If Microsoft with all their resources hasn't come up with a workaround, I expect this to be really hard to resolve. Presumably, Firefox will fix it eventually and thus I think that this should be a wontfix. Opinions?

[2017-08-08 08:03] kansallisarkisto commented on #31
This problem overlaps with #12 and should be fixed at the same time. I'm working on #12 and will do it.

[2017-08-08 08:04] kansallisarkisto commented on #12
I'm working on enlarging the box according to line length and will also ensure that all the buttons fit on one line, which was reported as #31

[2017-08-09 12:56] GuenterMuehlberger commented on #30
To be honest I do not like line numbers anyway I find them disturbing at that place. They are fine if I have no link to the line image  (in book publications) but not in the digital world.

[2017-08-10 11:17] jnphilipp commented on #24
The [containment feature from jquery](https://jqueryui.com/draggable/#constrain-movement) doesn't work here due to zooming.

Also there is a button to reset the image.

[2017-08-11 09:26] kansallisarkisto commented on #21
As discussed on August 11th, we will not work on this for now.

[2017-08-11 09:29] jnphilipp opened #32 "Jumping lines in line by line"

[2017-08-11 10:42] cziaarm opened #33 "line-by-line image overflows the page"
In some cases the line image is much wider than the window which makes transcription awkward

example from webTestCollection:
https://transkribus.eu/readTest/edit/correct/2305/23217/1

Suggest keeping image width maximum to somewhere under the window width

[2017-08-11 12:14] cziaarm commented on #11
duplicate of Transkribus/TWI-mc#33

[2017-08-14 08:19] thodel opened #34 "Typing combining characters: Cursor jumps to beginning/different line"
When typing combining character/diacritical mark (i.e. grave accent, U+0300), cursor jumps to the beginning of the line/the top line visible and text is inserted there.

[2017-08-14 08:21] thodel opened #35 "(feature request) short cut for saving"
would speed up transcription process

[2017-08-14 10:31] #10 closed, assigned to jupouta, kansallisarkisto

[2017-08-14 10:35] #15 closed, assigned to jupouta, kansallisarkisto

[2017-08-14 10:44] jupouta commented on #20
After clicking to hide the tag menu, the cursor still goes to the beginning of the chosen line

[2017-08-15 07:25] kansallisarkisto commented on #34
Please specify which browser you're using whenever you report bugs.

When testing input with Firefox, there's a problem with accents as well. The same character is input with and without the accent (and not saved in the array precisely as shown either, it seems).

This is a (kind of) regression. keydown/keyup/keypress (or the lack thereof) has caused issues before (some of which have been very bro

[2017-08-15 07:26] kansallisarkisto commented on #35
Please be a little bit more elaborate. Is CTRL-S what you want?

[2017-08-15 07:39] thodel commented on #35
ctrl-s would be perfect

[2017-08-15 07:41] thodel commented on #34
sorry for missing spec.:
60.0.3112.90 (official Build) (64-Bit)

[2017-08-16 10:53] yuoiea opened #36 "Edit interface Save button doesnt work"
When I enter text and click save and refresh the page -> the text is disappeared. Makes the whole edit-interface unsusable.

[2017-08-16 10:57] yuoiea opened #37 "Adding line in edit interface brokes the input box"
When I add multiple rows and browse down and up again the header bar of the input box disappeares -> i can't move or close the box anymore.

[2017-08-16 11:37] kansallisarkisto commented on #37
Could you please be more elaborate. Also state which browser and what version you're using. Otherwise I can't reproduce this.

[2017-08-16 11:38] kansallisarkisto commented on #36
Once again, please be more elaborate. I cannot reproduce this.

[2017-08-16 11:42] kansallisarkisto commented on #36
Once again, please be more specific when you report a bug and state exactly what you did and what your environment is (browser and version). I did some testing and evidently this only happens with the save button at the top of the viewer whilst the save button in the edit box works.

[2017-08-16 11:55] yuoiea commented on #37
Firefox 54.0.1 and Pale Moon 27.4.1. Try following:
- Select a line
- Click add line couple times
- Browse to bottom line (using keyboard "down" button)
- Browse to top line (using keyboard "up" button)
-> cannot move or close input box because the header bar isn't visible anymore

[2017-08-16 11:57] yuoiea commented on #36
Firefox 54.0.1 and Pale Moon 27.4.1. Used the save button which was next to "Page status" dropdown.

[2017-08-16 12:14] kansallisarkisto commented on #37
I just did work on improving how the dialog size is set. My work changed precisely how the size is set and even though I wasn't aware of this particular bug when I did it, the improved solution has probably resolved this too since I cannot reproduce it. Labeling accordingly but please do let me know if it reappears.

[2017-08-16 13:01] EvaMLang opened #38 "Versioning of save action missing"
![2017-08-16_webui_versioning](https://user-images.githubusercontent.com/17451573/29364515-02178340-8294-11e7-8696-b7fe5e84085a.PNG)
Transkribus allows references to the parent version of the currently saved document - see screenshot (entry line labelled as "NEW" was a "Save changes" on the edit webinterface). When saving from webUI, the parent ID is lost, creating a new version for each save.

Pl

[2017-08-16 13:07] EvaMLang commented on #38
Seems like I am not allowed to assign resposible developers on this repo - can someone please take care of this (giving me github rights / assigning people)? Thanks

[2017-08-16 14:29] kahlep commented on #38
Hi Eva, I just modified your access rights. Can you try again to assign the issue?

[2017-08-17 10:09] EvaMLang commented on #38
@kahlep thank you, I can now assign, yay!

[2017-08-17 10:28] jupouta opened #39 "Notification if changes not saved"
It would be good if there was a notification when the user is changing the page or leaving the edit interface if there have been any changes in the text (if e.g. the user has forgotten to save the changes).

[2017-08-17 11:27] kansallisarkisto commented on #39
Yes. Such a feature existed at one point but some UI redesign removed it. Time to update it.

[2017-08-18 09:13] #21 closed, assigned to kansallisarkisto

[2017-08-18 09:26] kansallisarkisto commented on #20
Which browser(s) are you testing with?

[2017-08-18 09:42] jupouta commented on #20
Both Chrome and Firefox do that

[2017-08-18 10:10] GuenterMuehlberger commented on #30
Line numbers disappeared, but the behavioour of the box is now different. It opens sometimes just showing the first line or half of it. Suggestion: The box should always open with just ONE line selected - the one which I selected  (the green line). If the user wants to see more than one line than he can use + and -.

[2017-08-18 10:18] GuenterMuehlberger opened #40 "Keep settings for user"
When I am working with the edit interface I expect that my settings are kept (and also once I open the site again, that the last settings appear). This would be: for the size of the text in the edit interface, or for the number of lines selected for display in the edit box, or for the distance of the edit box to the selected line

[2017-08-18 11:19] kansallisarkisto commented on #36
I've studied this some more. Neither save button is actually broken but when the dialog is open, the button on the page itself just responds slower. Hence what I suspect happened is that the testing user clicked save and then refreshed the page too soon afterward. That is, before the message stating that the changes have been saved. I will instead add a message warning users when (1) saving is in

[2017-08-18 13:51] GuenterMuehlberger opened #41 "Layout improvements"
I have drafted a paper with a lot of small and some heavier improvements for the WebUI. I think that Nathaniel and Max could maybe work on this. There are some deeper issues included which may be handled separately.

[2017-08-18 13:52] GuenterMuehlberger commented on #41
[Layout improvements.docx](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/598b061fda729505ca087b29/125516c66e82c728ace21e0d46c495832c9797e986e4af51ab4bf5992c4833606b48e13b628ae92dbc56395b4d5a47ad155f0e4dadacdb7ff3b234708a5b0fe5826a597dc72f0dbefad341eb5ee779c11ac7a4b6984dc8e93427ed8a8a4f3d1e031c8afb5536a99f5985.docx)

[2017-08-18 14:13] cziaarm commented on #18
I have tested this on the following page:

https://transkribus.eu/readTest/edit/correct/2305/23316/1?tco=0&view=i

I opened the edit box and tagged a word (at the beginning of the line) I then added some more text at the beginning of the same line. There was no unexpected movement or growth of the tag.

Screenshot:

![twi-edit-18.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/upl

[2017-08-18 14:13] #18 closed, assigned to jnphilipp, cziaarm, kansallisarkisto

[2017-08-18 14:15] cziaarm commented on #18
btw tested in chrome 60.0.3112.101

[2017-08-18 14:20] cziaarm commented on #12
URL https://transkribus.eu/readTest/edit/correct/2305/23316/1?tco=0&view=i
chrome 60.0.3112.101
firefox 45.0.2

Width seems reasonable but it appears that the height of the edit box is less than it should be:

![twi-edit-18.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58765b75e090f815004aac84/125516c66e82c728ace21e0d46fc83936e8787a09ba4ee1be611b2843b492d762a10e17132d0ba

[2017-08-18 14:24] cziaarm commented on #25
Hi @jupouta please test the styling buttons for the line-by-line interface are funcitoning correctly.

Thanks,

Rory

[2017-08-18 14:29] #11 closed, assigned to cziaarm, kansallisarkisto

[2017-08-18 14:36] cziaarm commented on #32
URL https://transkribus.eu/readTest/edit/correct/2305/23316/1?tco=0&view=i
chrome 60.0.3112.101
firefox 45.0.2

Jumping has stopped

[2017-08-18 14:36] #32 closed, assigned to jnphilipp, cziaarm

[2017-08-18 14:46] cziaarm opened #42 "style buttons remain on line-by-line when using the up button"
Steps: go to line-by-line, click on text (not the first line) then slick on the up arrow to move to the next line up. The edit focus moves fine, but a ghostly remainder of buttons is left on the previous line and persists as the edit focus moves up (See screenshot). The problem does not happen when using the down arrow.

URL: https://transkribus.eu/readTest/edit/correct/2305/23316/1?tco=0&view=i

[2017-08-18 14:57] cziaarm commented on #25
for info I have raised #42 which is related to line-by-line but not quite covered by this issue

[2017-08-21 07:45] EvaMLang opened #43 "Access role Reader pretends to allow user editing rights"
Apparently the user on "Reading only" collections (Access Role Reader) receives a "Transcript saved!" message (see screenshot). Instead, they should
- either not be allowed to see the edit interface per se
- or get a warning that this is read-only (and any editing buttons be disabled, i.e. also editing the Page Status.
![2017-08-21_webui_readertranscriptsaved](https://user-images.githubusercontent

[2017-08-21 08:00] EvaMLang opened #44 "EditInterface: Navigating to next page should alert user of unsaved changes"
If there are changes on the current page and the user moves to a different page using the navigation possibilities on the edit interface (either arrows, slider menu or entering the new page number by hand), they should receive an alert that there are unsaved changes and confirm to save them (into new version of transcript) or abort them.

[2017-08-21 11:31] maxbry opened #45 "Adjust address in address bar when editing document"
The URL in the addressbar when viewing/editing a document should be `readTest/view/4639/19450/1#` before any editing has been done and `readTest/edit/4639/19450/1#` once any editing has been done

[2017-08-21 11:46] kansallisarkisto commented on #44
The browser default warning has been added now.

[2017-08-21 11:47] kansallisarkisto commented on #39
The warning about unsaved changes is back. Additionally, the default browser warning about unsaved changes is now shown when navigating away from the page or refreshing it.

[2017-08-21 11:48] kansallisarkisto commented on #36
I have done what I said above that I would do.

[2017-08-21 11:49] kansallisarkisto commented on #31
The box size now grows when its contents do.

[2017-08-21 11:52] maxbry opened #46 "View mode adjustments"
* document title in the breadcrumb should be a link to the default view of the document
* Standard size of the shown image should be height, not width
* unneeded buttons in view mode should be grayed out
* Menue Bar
** At the very left:
*** the i Button
*** Image / LinebyLine /SidebySide/ Text: put them to the left
*** Forward, and page number etc.: Make it much smaller and put it exactly in the c

[2017-08-21 12:15] #25 closed, assigned to jnphilipp, hackmanschorsch, jupouta

[2017-08-22 09:31] yuoiea commented on #37
No iI can grab the window and move it but the box header is missing so i can't close the box (except "esc"). See screenshot
![heared missing.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5948fad5ba820b001a59ce91/125516c66e82c728ace21e0d46e0919b318787e982e0ac50ad53f7d665043761260ea62864c7b96aea1b2a0558584faa130b0d42f4fb892ba1e338258c5958bfc3714d36976345f3e5db55ea43a82a994

[2017-08-24 08:05] cziaarm commented on #17
This looks to be done as a sort of duplicate of  Transkribus/TWI-mc#44 and Transkribus/TWI-edit#17

[2017-08-24 11:42] #17 closed, assigned to jnphilipp, jupouta, kansallisarkisto

[2017-08-29 07:57] jupouta opened #47 "Edit line box shows up too small"
I open the edit interface, then choose a line to transcribe, but get this:
![kuva](https://user-images.githubusercontent.com/16373538/29810202-b75024b6-8ca7-11e7-870e-94d628fe1141.png)

Happens both on Firefox and on Chrome, apparently when no transcriptions have been made on the page.

[2017-08-29 08:02] #36 closed, assigned to jupouta, kansallisarkisto

[2017-08-29 12:40] jupouta opened #48 "Can't enter the last page of the document"
If I try to enter the **last** page number (e.g. 200/200), the page number changes back to what it was before and nothing happens (on Firefox and Chrome).

[2017-08-29 13:16] kansallisarkisto commented on #48
Plenty of things seem to have broken with the latest change (zooming, the dialog etc.). I'm looking into it.

[2017-09-01 07:57] cziaarm commented on #33
Looks great!

[2017-09-01 07:57] #33 closed, assigned to jnphilipp, cziaarm, kansallisarkisto

[2017-09-01 08:00] cziaarm commented on #39
related to Transkribus/TWI-edit#44 ?

[2017-09-01 09:39] cziaarm commented on #12
https://transkribus.eu/readTest/edit/correct/2305/23314/1

[2017-09-01 09:56] #26 closed, assigned to jnphilipp, maxbry, hackmanschorsch

[2017-09-01 09:57] #44 closed, assigned to cziaarm, EvaMLang, kansallisarkisto

[2017-09-01 09:57] #39 closed, assigned to cziaarm, jupouta

[2017-09-01 10:00] cziaarm commented on #24
reset image button is a possible workaround

[2017-09-01 10:03] cziaarm commented on #30
Numbers removed

[2017-09-01 10:03] #30 closed, assigned to jnphilipp, GuenterMuehlberger

[2017-09-06 07:28] kansallisarkisto commented on #47
The width issue seems to be resolved when I rewrote things. Height is still a problem but I'm working on that.

[2017-09-06 11:37] kansallisarkisto commented on #47
The problem still persists in some cases, removing this label.

[2017-09-06 12:38] cziaarm commented on #20
-[] test checklist

[2017-09-06 12:58] hackmanschorsch opened #49 "Thumbnail view is not showing last page"
If I open the first project in the crowdProjectTestCollection with 7 pages (or any other) only 6 pages are shown in the thumbnail view. Only when opening the 7th page directly it gets shown in the thumbnails.
![unbenannt](https://user-images.githubusercontent.com/16098955/30112230-da244ef8-9310-11e7-8ecc-d2cac5ed37f1.PNG)

[2017-09-06 13:06] kansallisarkisto commented on #47
Both width and height should be ok now.

[2017-09-06 13:06] kansallisarkisto commented on #31
Both width and height should be ok now.

[2017-09-06 13:07] kansallisarkisto commented on #12
Both width and height should be ok now.

[2017-09-06 13:41] kansallisarkisto commented on #49
A change a while ago broke this but it's fixed now. Enjoy!

[2017-09-08 07:28] kansallisarkisto opened #50 "No scroll bars in the dialog anymore"
Currently the dialog just grows until all the text fits and its size cannot be reduced by the user below that limit. However, when docking, the size can be reduced that some text doesn't fit (to the right). A scroll bar should then be shown at the bottom to keep that text accessible.

[2017-09-08 07:29] kansallisarkisto commented on #37
I've done even more rewriting of the code for setting the size. Those changes affected the header in particular and I can no longer reproduce this so I have to ask you to test once again.

[2017-09-08 09:38] kansallisarkisto opened #51 "Multiple consecutive spaces break the dialog"
Inserting multiple consecutive spaces in the dialog break the size calculations.

[2017-09-08 10:00] kansallisarkisto opened #52 "Inserting quotation marks in the web interface causes problems"
Some show up as &quot; and saving also breaks.

[2017-09-08 12:27] cziaarm commented on #12
I made some acceptance criteria for this issue (belatedly). It has a checkbox! Latest deployment now passes those acceptance criteria when testing against the case highlighted above.

[2017-09-08 12:27] #12 closed, assigned to cziaarm, kansallisarkisto

[2017-09-11 14:29] #37 closed, assigned to kansallisarkisto, yuoiea

[2017-09-11 17:38] cziaarm opened #53 "Edit and view buttons not functioning as expected"
https://transkribus.eu/readTest/view/6902/23229/1 behaves as expected

Going directly to https://transkribus.eu/readTest/edit/6902/23229/1 behaves like view

Clicking on "Edit" button changes url to above and button text to view as expected, but the page is still not editable

Going to "Line-by-line" chnages view as expeted and is editable regardless of url/button

Returning from "line-by-line" to

[2017-09-11 17:42] cziaarm opened #54 "Small edit box is back"
For steps to reproduce see Transkribus/TWI-edit#53
![return_of_dreaded_small_edit_box.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58765b75e090f815004aac84/125516c66e82c728ace21e0d46fa918e36908d9680ef8047b658f1902c4218602405af274f80e721ab7d790e174d52be011a001ea9aacd39aca439798b080cead06b0d27943b19aeb88218ea05ef268e1cd7a4a0980e91b6697abad2c51a7c0c0f0a88f95734a5994ec95df7

[2017-09-11 19:49] cziaarm commented on #47
I think there has been some regression as I closed Transkribus/TWI-edit#12 after confirming the example I reported was OK. I will close this one as I have opened Transkribus/TWI-edit#54 and assigned all the TWI-edit people to help deal with the regression issues.

[2017-09-11 19:49] #47 closed, assigned to jupouta, kansallisarkisto

[2017-09-13 06:46] maxbry opened #55 "Limit zoomout"
... so that page can fit completly and prevent further zooming

[2017-09-13 06:47] maxbry opened #56 "Smaller icons"
... so that the four buttons on the left are in one line

[2017-09-13 06:49] maxbry opened #57 "Page status drop down depending of DB"
Adjust shown status to set status in DB

[2017-09-13 06:55] #57 closed, assigned to maxbry

[2017-09-13 06:58] maxbry opened #58 "Change page status to toggle button"
Checkbox for transcriber (Done, In Progress) and additional toggle box for editor to set to Final.

[2017-09-13 08:15] hackmanschorsch opened #59 "Pressing edit button should select first line"
And the edit box opens already without searching for the first line (mainly to help users to easily start with editing)

[2017-09-13 08:19] hackmanschorsch opened #60 "Fix image at top of canvas during zooming"
Otherwise the image disappears when zooming out

[2017-09-13 08:26] hackmanschorsch opened #61 "Line by Line - allow zooming of image snippets"
And textsize and letter spacing as in the 'Image view'.

[2017-09-13 09:02] jnphilipp commented on #58
Postponed until I can get user roles for a collection/document.

[2017-09-14 09:40] kansallisarkisto opened #62 "Move image instead of dialog"
Opening an issue to discuss the experimental change to dialog placement that was requested in the Helsinki meeting. It has now been implemented (and the change to the text font) and this issue can be used to discuss and change it.

[2017-09-14 12:29] kansallisarkisto commented on #60
This is not why the image disappears. However, zooming is limited as requested in #55 now and this problem should thus also be a thing of the past.

[2017-09-15 12:27] hackmanschorsch commented on #49
Now works if thumbs fit in the first thumb overview - but if there are more thumbs and you have to scroll to the next view then still one page is missing at the end.
See: https://transkribus.eu/readTest/view/2305/23217/1#

[2017-09-15 12:35] hackmanschorsch commented on #60
But please have a look to Transkribus X (formerly known as expert client). There the image is fixed at the top left position during zooming and I think this is the most reasonable way. If the image goes down also the edit box gets shown at the bottom.

[2017-09-15 12:56] hackmanschorsch opened #63 "Fit image to height"
Beside the 'Fit image to widht' also the 'Fit image to height' is a nice feature.
Fix image to the top during zooming could be an option only for the buttons but not for the mouse wheel. Mouse wheel zooming works perfect but zooming with +/- could behave better.

[2017-09-15 12:57] hackmanschorsch commented on #60
Fix image to the top during zooming could be an option only for the buttons but not for the mouse wheel. Mouse wheel zooming works perfect but zooming with +/- could behave better.

[2017-09-15 13:26] kansallisarkisto commented on #63
What a coincidence. I just fixed an issue with mouse wheel zoom centering that nobody had noticed :b and came to think of how the image centre is an illogical centre for button zoom. It should be the viewport. Thus I'll make the change and add fit buttons.

[2017-09-15 13:38] kansallisarkisto commented on #60
I stated in #63 that in my humble opinion the viewport centre was the most logical way to centre the image when zooming with buttons. I wrote that before reading this and testing the expert client zoom so I guess I can just as well push that version and then people can test and say what they like. Fit height is coming soon.

[2017-09-15 14:36] kansallisarkisto commented on #63
I've added a fit height button and changed the reset image button to a fit width button since that's what it effectively does. Would users prefer that the image y offset was kept and only x changed when the width is set to viewport width?

[2017-09-19 12:14] jnphilipp commented on #24
Should be done with #60.

[2017-09-19 12:18] kansallisarkisto commented on #54
Having tested a number of other things, I've had to conclude that this can still happen but the situations are rare. I can't pinpoint it yet but it seems to be related to how spaces were saved in the past and gets fixed if a document is saved again.

[2017-09-20 09:12] jnphilipp opened #64 "Right-click in view mode"
Don't show tag dialog in view mode on right click.

[2017-09-20 13:28] kansallisarkisto opened #65 "Decouple line text height in the line by line interface from dialog height"
Currently the dialog height sets the line height in the line by line interface which can cause the line by line interface have huge line heights. To test simply alter the dialog height - either manually or by adding lines - and then look at the line by line interface.

[2017-09-20 16:10] #54 closed, assigned to jnphilipp, cziaarm, maxbry, kansallisarkisto

[2017-09-20 16:10] #53 closed, assigned to jnphilipp, cziaarm, maxbry, kansallisarkisto

[2017-09-20 16:13] #52 closed, assigned to cziaarm, kansallisarkisto

[2017-09-20 16:14] #51 closed, assigned to cziaarm, kansallisarkisto

[2017-09-20 16:15] #48 closed, assigned to jupouta, kansallisarkisto

[2017-09-20 16:16] #31 closed, assigned to maxbry, kansallisarkisto

[2017-09-20 16:46] cziaarm commented on #62
I think this works nicely, but...

In cases where the initial line is in the corner of the image (like a page number) the edit box stays in that corner. Technically this is working fine and I think it makes sense to move the image rather than box, but I guess the corner case should be considered...

A good example of what I mean can be found here: https://transkribus.eu/readTest/edit/2305/23316/1

[2017-09-21 09:20] hackmanschorsch commented on #59
Can't test this at the moment since the 'Edit' button and 'Save changes' button are currently not selectable.

[2017-09-21 09:22] hackmanschorsch commented on #60
This solution works fine.

[2017-09-21 09:22] #60 closed, assigned to jnphilipp, hackmanschorsch, kansallisarkisto

[2017-09-21 09:24] hackmanschorsch commented on #49
works fine for this example now

[2017-09-21 09:24] #49 closed, assigned to jnphilipp, hackmanschorsch, kansallisarkisto

[2017-09-21 09:33] hackmanschorsch commented on #59
Now I found an example where it worked nicely when opening the first page. But when selecting a further page within the thumb overview then in the opened page is no selection of the first line made.

[2017-09-21 09:34] hackmanschorsch commented on #59
And coming from the library to the view site the 'Edit' and 'Save changes' are disabled?

[2017-09-21 09:50] GuenterMuehlberger commented on #62
I think the feature behaves exactly as expected and I like it very much :-) :-). With the fit to width etc. people can also work with page numbers as from above.

[2017-09-21 09:51] GuenterMuehlberger commented on #63
For me it works fine as it is now .

[2017-09-21 09:51] GuenterMuehlberger commented on #56
VERY NICE, I like it.

[2017-09-21 09:51] #56 closed, assigned to jnphilipp, cziaarm, maxbry

[2017-09-21 11:45] jnphilipp opened #66 "Redirect user from edit mode"
When a users enters a document via the edit url and has insufficient rights to edit he needs to be redirected  back to view mode. (Best done in views.py)

[2017-09-22 13:46] bejohu opened #67 "Viewer LineByLine Scrolling not working on laptop"
When cursor is above line image scrolling the page using touchpad mousewheel equivalent (i.e. running fingers vertically across trackpad) does not seem to work.

[2017-09-22 19:58] cziaarm opened #68 "500 Internal server error when accessing some documents with edit app"
OS and browser(s) [Windows 10]	Chrome
OS and browser(s) [Linux]	Firefox

URL: https://transkribus.eu/readTest/view/2305/4949/1

Screen shots : https://drive.google.com/open?id=0B7dmP0OCT3cnRmNFNkpmYV9xUzA

Steps to reproduce: 	Follow Url provided

Expected results and actual results :
Expected: edit/view for a document. Actual : "Server Error (500)" message

Any other information:	The Document IMA

[2017-09-25 09:33] jnphilipp commented on #67
Cannot reproduce, when scrolling images zoom in/out. What browser are you using?

[2017-09-25 11:36] jnphilipp commented on #68
Caused by documents with out lines.

[2017-09-26 19:09] #55 closed, assigned to cziaarm, kansallisarkisto

[2017-09-26 19:25] cziaarm commented on #58
Tested as owner - select list: In Progress, Done, Final

Tested as editor - Toggle button: In progress, Done

Tested as Transcriber - edit button disabled

Tested as crowdTranscriber - Toggle button: In progress, Done

We should confirm whether the is the intended/agreed behaviour before setting this as Tests succeeded. Shouldn't an editor be able to set documents as done? A Transcriber user curre

[2017-09-26 19:25] #61 closed, assigned to jnphilipp, cziaarm

[2017-09-26 19:26] #63 closed, assigned to cziaarm, kansallisarkisto

[2017-09-26 19:27] cziaarm commented on #64
confirm that tag menu only shown if right click on edit area while in edit mode

[2017-09-26 19:28] #64 closed, assigned to jnphilipp, kansallisarkisto

[2017-09-26 19:37] cziaarm commented on #20
This sill appears to be happening in ie/chrome/ff

To reproduce.

- Open edit box left click and note the cursor position.
- Right click to bring up the  tag menu
- left click on the edit box again to close the tag menu
- Cursor/caret  is at the start of the line

Expected result:  Cursor to be where the left was made in the edit box (or as near as is reasonable)

[2017-09-26 19:39] #42 closed, assigned to jnphilipp, cziaarm

[2017-09-26 19:41] cziaarm commented on #35
- [x] tested crtl-s on FF Chrom and IE

[2017-09-26 19:42] #35 closed, assigned to jnphilipp, cziaarm

[2017-09-27 07:40] EvaMLang opened #69 "Line-by-line zooming out behaves strange"
Initial view:

![grafik](https://user-images.githubtusercontent.com/17451573/30901168-0a137ab0-a367-11e7-9c71-0c00d311a9d4.png)

Zooming with mouse wheel (cursor approximately 1/3 from right border, vertically centered):
![grafik](https://user-images.githubusercontent.com/17451573/30901254-52aab428-a367-11e7-9616-c817b74bf89c.png)

Would expect some regularity here, e.g. the top left corner of the

[2017-09-27 07:44] EvaMLang commented on #43
checked and approved.

one question though: the "image mode" now does not display any text when hovering over the image. Is this the wanted behavior? Possible alternative: only display the text snippet without any edit buttons.

[2017-09-27 08:15] hackmanschorsch opened #70 "Edit vs View mode"
Observed some strange behavior:
Steps to Reproduce: In library's document list click 'Image' (in the 'Views' row) to see the document in the edit page in 'View' mode - works fine
Now clicking Edit seems to provide the 'Edit' mode but it doesn't work.
Then clicking 'View' brings up the correct 'Edit' mode

But it works fine if you change to the edit page following the table link at the library inst

[2017-09-27 08:42] jnphilipp commented on #70
This is a problem that has been solved, but it seems not it has not yet been deployed.

[2017-09-27 16:41] GuenterMuehlberger commented on #58
Editor needs to be able to set to final

[2017-09-28 11:50] kansallisarkisto commented on #54
Sigh. I found at least one more case in which this happens but it's fixed locally now. Commit coming soon to a git repository near you!

[2017-09-28 14:10] kansallisarkisto opened #71 "Tags which alter the text instead of being placed below should not increase the line height"
Currently adding tags which alter the text instead of being placed below increase the line height as if they were of the type that are placed below. This should not happen.

[2017-09-28 22:40] bejohu commented on #67
Seems to be fixed now. However, zooming without any special user action, e.g. ctrl key might lead to involuntary zooming. What do you think?

[2017-09-29 07:50] #19 closed, assigned to kansallisarkisto

[2017-09-29 08:00] #43 closed, assigned to jnphilipp, maxbry, EvaMLang

[2017-09-29 09:10] EvaMLang commented on #69
working now as expected, thanks

[2017-09-29 09:10] #69 closed, assigned to EvaMLang

[2017-09-29 09:19] #45 closed, assigned to maxbry

[2017-09-29 09:33] cziaarm commented on #67
Ctrl is good idea, would need to communicate this to the user in some way

[2017-09-29 09:47] cziaarm commented on #38
@hackmanschorsch to look at how the version is integrated between TWI and REST

[2017-09-29 09:48] bejohu commented on #67
If there are any +/- control elements that can be clicked, they could provide a tooltip spelling out the keyboard shortcuts. Most simple solution for this is probably setting the title attribute. Also, what's nice about it is that ctrl / meta + mousewheel / trackpad seems rather common for zooming, e.g. Photoshop, Firefox, etc. So, that's a plus in terms of discoverability. What seems most desirea

[2017-10-04 12:11] hackmanschorsch commented on #58
Shouldn't have the transcriber the same rights as the crowdTranscriber: Toggle button: In progress, Done?
Btw: Now there is the possibiliy to get the collection metadata directly with one call:
https://transkribus.eu/TrpServerTesting/rest/collections/1/metadata (1 is collId)
For this week only on the test server!

[2017-10-04 12:22] cziaarm commented on #58
I think so too.

Changes:

- [ ] Editor gets final
- [ ] Transcriber gets same permissions as CrowdTranscriber

@jnphilipp I am happy to step in on this if you are unable to find the time. Just let me know.

R

[2017-10-04 12:47] cziaarm commented on #58
Just to check.. in 2f15d581addb25de5f927ceca96610741628572c I've ended up a making conditions like:

`if ( "{{ role }}" === "Editor" || "{{ role }}" === "Owner" || "{{ role }}" === "Admin" || "{{ role }}" === "CrowdTranscriber" || "{{ role }}" === "Transcriber" )`

If these are all the possible roles (?) I guess we can remove the condition altogether.

[2017-10-04 13:20] hackmanschorsch commented on #58
Well, there is one left - the "Reader"

[2017-10-04 19:20] cziaarm opened #72 "Box not widening with transcript line length"
This looks like regression of the edit box width issue.

In this version the edit box does not widen when moving from an small or empty line to one with more text in it.

OS: Windows, linux
Browsers: chrome, ff

Steps to recreate:

https://transkribus.eu/readTest/edit/3/332/1

Tab from first line down to a line with some transcript in it.

Screenshot:

[2017-10-05 06:46] kansallisarkisto commented on #72
I've noticed this and have fixed it locally already.

[2017-10-05 13:46] #68 closed, assigned to jnphilipp, cziaarm, kansallisarkisto

[2017-10-05 13:49] #24 closed, assigned to jnphilipp, cziaarm

[2017-10-05 13:54] cziaarm commented on #58
OK by the sounds of it the "Reader" has no edit permissions so the condition above would be suitable for the permission to edit (and indeed could be replaced by

`if ( "{{r ole }}" !== "Reader" )`

But despite code efficiency this is now doing what we expect? @GuenterMuehlberger ?

[2017-10-05 14:25] cziaarm commented on #46
* - [ ] document title in the breadcrumb should be a link to the default view of the document
* - [ ] Standard size of the shown image should be height, not width
* - [ ] unneeded buttons in view mode should be grayed out
* - [ ] Menu Bar
  * - [ ] At the very left:
    * - [ ] the i Button
    * - [ ] Image / LinebyLine /SidebySide/ Text: put them to the left
    * - [ ] Forward, and page number

[2017-10-05 14:39] cziaarm commented on #59
Hello all,

I would say here that the initial issue is satisfactorily resolved.

@hackmanschorsch raises a the point that the page nav links (arrows and thumbnails) all reset the mode to view, but would be good if they opened the next page in the same mode (and if edit opened the edit for the first line on the new page)

The second point needs some support edit and save changes are working on the

[2017-10-05 14:40] #59 closed, assigned to jnphilipp, hackmanschorsch, kansallisarkisto

[2017-10-05 14:41] cziaarm opened #73 "page nav should keep mode between pages"
the page nav links (arrows and thumbnails) all reset the mode to view, but would be good if they opened the next page in the same mode (and if edit opened the edit for the first line on the new page)

[2017-10-06 06:53] kansallisarkisto commented on #73
Couldn't agree more. But before implementing I want to ask if you too think that this is a user preference issue? I assume it should be handled as part of the preference saving implementation which is yet to be written.

[2017-10-06 07:40] #70 closed, assigned to jnphilipp, maxbry, hackmanschorsch

[2017-10-06 08:57] jnphilipp commented on #73
I cannot confirm this, as far as my test goes it works as expected. But it seems that the thumbnail view is broken in line by line and text interface.

[2017-10-06 09:09] cziaarm commented on #58
Need to add the Transcriber to a condition on line 121 of edit/views.py

[2017-10-06 09:38] cziaarm commented on #46
@cziaarm will pick up

- [ ] document title in the breadcrumb should be a link to the default view of the document

[2017-10-06 09:46] cziaarm commented on #65
Passed!

[2017-10-06 09:46] #65 closed, assigned to jnphilipp, cziaarm, kansallisarkisto

[2017-10-06 09:47] cziaarm commented on #66
Passed!

[2017-10-06 09:47] #66 closed, assigned to jnphilipp, maxbry

[2017-10-06 10:00] cziaarm commented on #73
Sorry poor description of what I meant.

We just need to pop up the edit box on the first line when moving pages

[2017-10-09 11:02] #46 closed, assigned to cziaarm, maxbry

[2017-10-09 13:53] hackmanschorsch commented on #73
minor bug: when changing pages (page nav) in edit mode in the line by line interface you can see for one moment the image view and shortly afterwards it changes into the line by line. As said a minor bug but maybe solved quickly?

[2017-10-09 14:02] hackmanschorsch opened #74 "Line by Line - editing issues"
Steps to reproduce:

- Go to line by line and change to edit mode.
- If there is already some text in the line and you place the caret (with the mouse) into the middle of the text the caret goes to the beginning of this line
- Only after clicking a second time the caret goes to the position you wanted

[2017-10-09 14:13] hackmanschorsch opened #75 "Text and Image interface"
- Highlighting of the current line in the image
- If there is only text in some lines or no text at all some identification of the lines would be useful, e.g. reintroducing line numbering in this interface. Or may you have some other idea.

[2017-10-09 14:16] hackmanschorsch opened #76 "Text interface"
Show image snippet only after clicking the text line.

[2017-10-10 09:06] jnphilipp commented on #73
This is due to the image interface being the default interface and everything needs to be loaded before changing. I changed it so it wouldn't show on default. But I'm not sure what this might break, needs some serious testing.

[2017-10-12 12:08] hackmanschorsch commented on #38
The rest service 'postPageTranscript' has the QueryParam 'parent' where you hand over the parentID to the server.
@jnphilipp @kansallisarkisto  please use this param when saving the transcripts from the webUI to keep the history of the transcripts

[2017-10-13 09:15] #67 closed, assigned to jnphilipp

[2017-10-13 09:21] cziaarm commented on #20
@kansallisarkisto to take control of caret display to help with these sorts of issues

[2017-10-13 09:31] #72 closed, assigned to jnphilipp, kansallisarkisto

[2017-10-17 11:17] EvaMLang commented on #58
Test results:

- [x] Reader: all editing buttons are disabled, no chance to save any transcript, no access to change status, behavior as expected according to role description
- [x] Transcriber: status changes are carried out immediately. Status does not change back from Done after new save is carried out. Any save activity triggers status "NEW" (instead of "IN_PROGRESS"), see screenshot below
![g

[2017-10-17 11:39] EvaMLang opened #77 "Display of tables cells"
For tables structured with table cells (XML tags <Table><TableCell><Line><Baseline> instead of <TextRegion><Line><Baseline>), display options should be found. An easy way would be to take any <Line> no matter in which container it resides.

If tabled pages are segmented by text regions, transcriptions could already be done.
Table example see https://transkribus.eu/readTest/edit/2305/25238

[2017-10-17 18:24] cziaarm opened #78 "404's from the logs"
From the logs https://transkribus.eu/readTest/view/7290/24150/1 (which I can't view cos I don't have perms) is throwing an error becuase it is trying to get an image that is giving a 404 : https://dbis-thure.uibk.ac.at/f/Get?id=ZYBMUOMNJOQWALBJEJCTPMLV

[5:14]
Also https://transkribus.eu/readTest/view/1/25238 is throwing an error because it is getting a 404 from a REST request: https://transkribus

[2017-10-17 18:25] cziaarm opened #79 "login link on login page"
No needed

[2017-10-17 18:26] cziaarm commented on #79
wrong repo

[2017-10-17 18:26] #79 closed, assigned to nobody

[2017-10-17 18:34] cziaarm commented on #38
@hackmanschorsch What is the parent in this context? The page, the doc, the collection, something else?

[2017-10-18 07:34] hackmanschorsch commented on #38
With parent the transcript ID is meant. So if you load the current (latest) transcript for editing you have to read the tsid from the transcript metadata and hand it as parent in the save method. This is for keeping the history of each transcript version.

[2017-10-18 23:23] cziaarm commented on #78
I have improved the handling of the 404 so that a sensible error message is shown rather than an apache 500.

The errors still remain.

[2017-10-19 06:54] kansallisarkisto commented on #74
Assigning this to myself because I'm working on the caret issue right now. Its incorrect placement seems to have something to do with the Firefox bug which causes it to disappear altogether. When it's invisible, text is still entered into the correct position but the code for obtaining the caret character offset doesn't work and hence it ends up in the wrong location when the line list is recreate

[2017-10-19 08:02] hackmanschorsch commented on #78
Seems that doc 25238 was deleted in collection 1. So this is the reason for the 404. We could try to send more meaningful responses?
I have viewed https://transkribus.eu/readTest/view/7290/24150/1 and it works well. The image link must be from somewhere else.
So how should we react on such 404 errors?

[2017-10-19 08:42] jnphilipp commented on #74
In line 219 of correct.html I have ```selectionData = [["{{ line|get_item:"@id" }}", 0, 0]];```, might that be the reason.

[2017-10-19 12:41] hackmanschorsch commented on #76
This would be a feature needed for the user conference so that the users have the right impression even there is only the viewing mode available.

[2017-10-19 13:42] cziaarm commented on #58
@maxbry not much time, but do you think you'll be able to pick up any of @EvaMLang 's suggestions?

[2017-10-20 08:07] maxbry commented on #41
I would consider this issue done since most of its requirements are done or have been changed.

[2017-10-20 08:07] #41 closed, assigned to jnphilipp, GuenterMuehlberger, maxbry

[2017-10-20 10:01] cziaarm commented on #58
"when in DONE status, switch status button display back to IN_PROGESS after save is hit again - alternatively: display message saying "no status set" or similar."

@hackmanschorsch suggests this should be done server side

After saving should be able to collect the new trasncriptId and the new page status

(next iteration?)

[2017-10-20 10:03] cziaarm commented on #58
MEssages "TRanscript saved", "page status changed" etc should timeout after a long enough period

[2017-10-20 10:23] cziaarm commented on #78
404's are genuine (ie the resources are not on the server)

and 404's are being better handled by webUI

[2017-10-20 10:23] #78 closed, assigned to jnphilipp, cziaarm, kansallisarkisto

[2017-10-20 10:33] cziaarm commented on #74
@kansallisarkisto  caret issues: #74, #20, #34 potentially can be "lived with" for this iteration and handled in subsequent iterations

[2017-10-20 10:34] cziaarm commented on #20
@kansallisarkisto  caret issues: #74, #20, #34 potentially can be "lived with" for this iteration and handled in subsequent iterations

[2017-10-20 10:34] cziaarm commented on #34
@kansallisarkisto  caret issues: #74, #20, #34 potentially can be "lived with" for this iteration and handled in subsequent iterations

[2017-10-23 08:40] hackmanschorsch commented on #38
Saving the parent ID works now fine! But the status was reset to 'NEW' instead of keeping the previous status 'InProgress'.

[2017-10-23 09:09] hackmanschorsch commented on #38
So my suggestion would be to always keep the current status during saving and adding the logic at the server side.

[2017-10-23 12:23] hackmanschorsch opened #80 "Use toolname for transcription save"
When saving a transcript we must add param toolname = 'Web Interface'. This is shown in the 'Versions' widget in TranskribusX and lets you know the origin.

[2017-10-23 12:28] hackmanschorsch opened #81 "Colors in thumb overview"
Use similar coloring as in TranskribusX.
Red: No segmentation available (nr_of_lines  == 0)
Yellow: Segmented lines are there - but no text. (nr_of_lines > 0 && nr_of_transcribed_lines == 0)
Green: Lines with text are available (nr_of_transcribed_lines > 0)

[2017-10-24 17:31] cziaarm commented on #38
OK so a known issue and a server fix for mc-v0.04 ?

[2017-10-25 07:47] hackmanschorsch commented on #76
Seems not to be in the deployed version.

[2017-10-25 08:01] hackmanschorsch commented on #74
Seems the caret is solved in the version mc-v0.02 (24/10/2017).
But another bug occured: Selecting a word and typing a new character (e.g. when the selected word is wrong and you want to type the right one instead of this) then some text (from the cache??) is copied after the newly typed character and you get accidental text.

[2017-10-25 08:11] hackmanschorsch commented on #62
Back again: Image does not move.

[2017-10-25 08:28] hackmanschorsch commented on #38
I'm not sure.

Please check if the status of the transcript you send to the server is null!

Then we change it either from 'NEW' to 'InProgress' or keep the old status automatically. But this works not if the status is implicitely set to 'NEW' or some other status.

[2017-10-25 14:31] cziaarm commented on #76
reverted to Nathanael's last commit Transkribus/TWI-edit@981a239

[2017-10-25 14:33] cziaarm commented on #73
I suggest that this is actually closed. we can raise another minor but in another iteration relating to the specific issue of the other view briefly appearing.

[2017-10-25 14:33] #73 closed, assigned to jnphilipp, kansallisarkisto

[2017-10-25 14:37] cziaarm commented on #58
@jnphilipp @maxbry This issue has become a bit of a monster...

My understanding is that the points in @EvaMLang 's comment that are ticked are ready to test and that those that are struck through are invalid or postponed.

That leaves a few that are neither ticked nor struck through.

@hackmanschorsch I know that some of the issues were to be settled (at least partially) server side. I would assu

[2017-10-25 16:48] cziaarm commented on #62
This was a fix that regressed by Matti's merge. This has now been undone. Please re-test

(how many more of these are there?)

[2017-10-26 09:50] kansallisarkisto commented on #62
Solved locally, pushing soon.

[2017-10-26 10:04] #62 closed, assigned to hackmanschorsch, kansallisarkisto

[2017-10-27 07:43] #76 closed, assigned to jnphilipp, hackmanschorsch

[2017-10-27 07:50] hackmanschorsch commented on #58
connected with #38:

Please check if the status of the transcript you send to the server is null!

On the server we change it either from 'NEW' to 'InProgress' or keep the old status automatically. But this works not if the status is implicitely set to 'NEW' or some other status (please check! - we do not change from any status to 'NEW' so I guess this must be set from the WebUI)

[2017-10-27 08:00] hackmanschorsch commented on #58
issue #80: waits for deployment and uses toolname (Web Interface) during commit

@EvaMLang: At the moment on the server side we have following logic: If the status change origins from the same user as the current transcript then there is no new transcript saved. Exceptions is if it is the first transcript(=NEW). Reason is to have not too much versions. But save is always a new transcript.

don't u

[2017-10-27 08:05] hackmanschorsch commented on #74
@cziaarm @kansallisarkisto  Think we should spend all efforts to resolve the bug from the last commit. This one causes a really bad user experience.

[2017-10-27 09:10] EvaMLang commented on #58
Server-side logic sounds fine! The issues I had before was probably session timeouts.
The toolname should be saved (and be visible in the Job Dialog in TranskribusX).

[2017-10-27 09:14] hackmanschorsch commented on #71
@kansallisarkisto  please test

[2017-10-31 09:30] hackmanschorsch opened #82 "Turn the page bug"
If you are in edit mode (Image or line by line) and go to the next page (with arrow) then you stay in edit mode but all interfaces are active now (side by side and Text). You can then edit in side by side (which you should not see in edit mode) but not in line by line (which should work)

[2017-10-31 11:37] cziaarm commented on #82
Hi @hackmanschorsch I'm seeing slightly different behaviour at the moment.

It seems that if you are in image/edit mode and then click on the next button you are returned to view mode.

Which is annoying (and possibly a regression), but the user doesn't have a route to edit in sbs and text that I can see. Please confirm this, or explain what I'm doing wrong in terms of replicating this bug.

[2017-10-31 11:53] hackmanschorsch commented on #82
Hi, I tested it now on Chrome as well. The strange thing is that if I start at the first page - click edit - then click next - I stay in the edit mode with all interfaces enabled. If I then go to the next page it is like you described (a change to view mode)

[2017-10-31 11:55] hackmanschorsch commented on #82
Minor update: The first next click gives the described behavior regardless of which page number I start.

[2017-10-31 11:55] cziaarm commented on #82
I was looking at this doc btw: https://transkribus.eu/readTest/view/2305/23315

[2017-10-31 11:55] jnphilipp commented on #82
@cziaarm that you are no longer in edit mode when going to the next page isn't most likely a bug, resulting from a wrong link but the result of the various checks that are done upon page load. Like I mentioned yesterday in the call a page which has GT page status can't be edited and so a user is redirected back to view mode. In the log should be an entry of that.

I'm thinking it would be best to

[2017-10-31 11:56] jnphilipp commented on #82
@hackmanschorsch I'll have a look at what happens there.

[2017-10-31 11:58] cziaarm commented on #82
@hackmanschorsch you said: "The first next click gives the described behavior" whcih described behaviour (mine or yours). Maybe the collection/document is important here I have some odd behaviour around the page status which may cause some of what we're seeing

[2017-10-31 12:02] hackmanschorsch commented on #82
I meant 'mine'.
It really depends on the document. The one you sent brought the same behavior for me as on your side.

[2017-10-31 12:02] cziaarm commented on #82
@jnphilipp yes I'm beginning to understand this. However if you go to the example I've given and do the following:

- Starting on image mode (edit button enabled)
- Click on next page (edit button still enabled)
- Click on a restricted interface (edit button correctly disabled)
- Click on image interface again (edit button remains disabled)

Cheers,

Rory

[2017-10-31 12:04] hackmanschorsch commented on #82
But may the save bug Günter mentioned is at the moment more important to solve?

[2017-10-31 12:09] jnphilipp commented on #82
@cziaarm The second page is GT so the edit button should be disabled from the beginning.

[2017-10-31 12:11] cziaarm commented on #82
@jnphilipp aha.. I see so the bug is that the edit button appeared at all?

 I thought you were on holiday... are you looking at this stuff at the moment? I wouldn't want to cause a code conflict, and you may be better placed to solve this than I  (though it was interesting to catch-up with where the edit code is at the moment)

[2017-10-31 12:14] jnphilipp commented on #82
Yeah I'm on holiday, or better sitting at home and doing same coding on other stuff. So i hat just a quick look. If you want me to take a closer look no problem.

[2017-10-31 12:19] cziaarm commented on #82
I'm happy to continue (especially if you are on holiday) I may check in with you when I think I have solution to check it makes sense

[2017-10-31 12:34] cziaarm commented on #82
OK I think I've fixed "my" bug @hackmanschorsch if you can give me an example url I can have a go at yours too

[2017-10-31 12:40] jnphilipp commented on #82
@cziaarm Have a look at what i pushed it should fix @hackmanschorsch bug.

[2017-10-31 12:51] hackmanschorsch commented on #82
I dulicate the document to the WebUI Collection at the moment. It is called 'Reichsgericht I.-ZvS_1903_2.+3.Q_duplicated'. Should be available in a few seconds.

[2017-10-31 12:53] hackmanschorsch commented on #82
Page status is 'Done' btw for that pages

[2017-10-31 15:13] cziaarm commented on #82
Thanks both,

I've just deployed @jnphilipp's fix for @hackmanschorsch's bug and @cziaarm's fix for @cziaarm's bug.

To test bug one : https://transkribus.eu/readTest/edit/2305/28650 , edit > got to next page, restricted interfaces should stay disabled for editing

To test bug two: https://transkribus.eu/readTest/view/2305/23315 , got to page 2, edit button should be disabled (it's GT)

Thanks!

[2017-11-06 12:59] hackmanschorsch commented on #80
tested right now

[2017-11-06 12:59] #80 closed, assigned to jnphilipp, kansallisarkisto

[2017-11-06 13:16] hackmanschorsch opened #83 "Save bugs"
Bug 1 during save: First I get the message 'You cannot change status of this page' even if I simple press 'Save' without changing the status. Status stays 'InProgress'.

Bug 2 during save: It saves the new transcript to the server - so this works fine. But I can save the same version many times although I do not change anything. So a little observation of changed chars is required.

[2017-11-06 14:02] hackmanschorsch opened #84 "Tagging"
Tagging brings sometimes unreproducible errors, e.g. all tags are selected in the context box or text is tagged that wasn't marked
So we should do two things:

1. No tagging in the Image view. Should make things easier for Matti - no multiline selection for example.
2. Tagging allowed only in line by line for the first release

[2017-11-22 11:02] hackmanschorsch opened #85 "Add button to resize edit box"
If the edit box grows larger then the size of the screen there are limited possibilities to resize it. A button would be therefore nice to have. And pressing this button modifies the size of the edit box with respect to the current text line.

[2017-12-01 10:14] cziaarm commented on #84
Matti's solution should alleviate tagging issues.

[2017-12-01 10:40] cziaarm commented on #85
- [x] Turn off the thing that stops the user moving the dialog out of the window
- [x] This allows users to move the dialog if it is bigger than the window
- [ ]  Clicking on line on image will re-shrink the dialog relative to line length

[2017-12-14 23:48] cziaarm commented on #84
Line by line has been turned off for first release

[2017-12-14 23:51] cziaarm commented on #85
Only last of these three not implemented

[2018-01-02 08:40] kansallisarkisto commented on #85
As far as I can tell the third one doesn't happen anymore or have I misunderstood what the problem is?

[2018-01-04 15:15] kansallisarkisto commented on #81
This was pretty low hanging fruit so I've implemented it now.

[2018-01-10 11:48] kansallisarkisto commented on #74
Are there still problems related to this?

[2018-01-10 12:44] kansallisarkisto commented on #85
I should add that I've now prevented the dialog from becoming wider than the window.

[2018-01-10 12:47] kansallisarkisto commented on #50
Scroll bars are now shown when the contents of the dialog necessitate it.

[2018-02-22 10:13] #74 closed, assigned to jnphilipp, kansallisarkisto

[2018-03-10 21:59] bejohu opened #86 "Pass callback for current line change into editor"
Introduce callback that gets called when user intends to navigate form current line to another (e.g. previous line, next line). It takes one parameter _lineId_ for the line the user intends to switch to. It is passed into editor upon instantiation. Suggestions for function name are welcome, e.g. _onLineNaviage_, _onLineChange_, _onLineSwitch_, etc.

[2018-04-23 08:49] bejohu opened #87 "Annotation partially truncated upon insertions"
Input

[code]

Expected

[code]

Actual

[code]

Can be replicated across browsers.

Might be related to _getLineLiWithTags_ in _text.js_.

[2018-04-24 07:31] kansallisarkisto opened #88 "Right-click to open tag menu hangs on empty lines"

[2019-01-10 11:01] #20 closed, assigned to jupouta, kansallisarkisto

[2019-01-10 11:01] #28 closed, assigned to jnphilipp

[2019-01-10 11:01] #34 closed, assigned to kansallisarkisto

[2019-01-10 11:01] #38 closed, assigned to jnphilipp, cziaarm, kahlep, hackmanschorsch, EvaMLang, kansallisarkisto

[2019-01-10 11:01] #40 closed, assigned to jnphilipp

[2019-01-10 11:01] #50 closed, assigned to kansallisarkisto

[2019-01-10 11:01] #58 closed, assigned to jnphilipp, cziaarm, GuenterMuehlberger, maxbry, hackmanschorsch, EvaMLang

[2019-01-10 11:01] #71 closed, assigned to jnphilipp, kansallisarkisto

[2019-01-10 11:01] #75 closed, assigned to kansallisarkisto

[2019-01-10 11:01] #77 closed, assigned to jnphilipp

[2019-01-10 11:01] #81 closed, assigned to jnphilipp, kansallisarkisto

[2019-01-10 11:01] #82 closed, assigned to jnphilipp, cziaarm

[2019-01-10 11:01] #83 closed, assigned to jnphilipp, cziaarm

[2019-01-10 11:01] #84 closed, assigned to jnphilipp, kansallisarkisto

[2019-01-10 11:01] #85 closed, assigned to kansallisarkisto

[2019-01-10 11:01] #86 closed, assigned to nobody

[2019-01-10 11:01] #87 closed, assigned to nobody

[2019-01-10 11:01] #88 closed, assigned to kansallisarkisto